body {
	background-color: #FCFCFC;
}

#container {
	position: relative;
	width: 1200px;
	margin: 0px auto;
}

#header {
	margin-bottom: 20px;
}

a {
	color: #000;
}

.column .ui.segment[data-id] {
	cursor: pointer;
}

.ui.list span.item:hover{
	color: #00BAFF;
}

div.image img {
	width: 160px !important;
	height: 225px !important;
}

.sort-by {
	cursor: pointer;
}

.sort-by:hover {
	text-decoration: underline;
}
