body {
	background-color: #FCFCFC;
}

#container {
	padding-right: 30px;
	padding-left: 30px;
	width: 1120px;
	margin: 0 auto;
}

#header {
	margin-bottom: 20px;
}

a {
	color: #000;
}

.ui.segment.side {
	cursor: pointer;
}

.ui.list span.item:hover {
	color: #00BAFF;
}

.sort-by {
	cursor: pointer;
}

.sort-by:hover {
	text-decoration: underline;
}

.ui.shape {
	height: 350px;
	width: 220px;
}

.ui.shape .sides {
	height: 350px;
	width: 220px;
	position: absolute;
}

.ui.shape .side {
	height: 350px;
}

div.image {
	position: relative;
	width: 160px;
	margin: 0 auto;
	padding-bottom: 12px;
}